<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allabo.dao.AuthDao">
	<!-- 회원가입 -->
	<insert id="signup">
		insert into users ( 
			email
			, password
			, user_name
			, company
			, created_at
			, visible
		) values (
			#{email}
			, #{password}
			, #{name}
			, #{companyName}
			, NOW()
			, 1
		)
	</insert>

	<!-- 이메일(아이디) 중복 확인 -->
	<select id="emailCheck" resultType="int">
		select count(*) from users where email=#{email}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="int">
		select count(*) from users where email=#{email} and password=#{password}
	</select>
</mapper>