<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.dao.TeamDao">

	<insert id="insertTeam" parameterType="com.allabo.vo.TeamVO" useGeneratedKeys="true"  keyProperty="teamId">
		insert into team ( 
			team_name
			, created_at
			, description
		) values (
		 #{teamName}
		, NOW()
		, #{description}
		)		 
	</insert>
	
	<!-- join으로 user의 팀정보 가져오기 -->
	<select id="selectTeamList" resultType="com.allabo.vo.TeamVO">
		SELECT 
			t.team_seq AS  teamId
			, t.team_name AS teamName
			, t.created_at  AS createdAt
			, t.description  AS description
			, ut.userid AS userid
			, ut.role AS role
			, ut.nick  AS nick
		FROM team t JOIN users_team ut 
		ON t.team_seq = ut.team_seq 
		WHERE ut.userid =  #{userid}
		ORDER BY t.created_at DESC
	</select>
	
	<select id="selectTeam" resultType="com.allabo.vo.TeamVO">
		select team_seq, team_name, created_at, description
		from team T join users_team 
		where team_seq = #{teamId}
	</select>
	
	<update id="updateTeam" >
		update team
		set 
			team_name = # {teamName},
			description = #{description}
		where team_seq = #{teamId}
	</update>
	
	<delete id="deleteTeam" >
		delete from team
		where team_seq = #{teamId}
	</delete>
	
</mapper>